
<br>
<br>
<div style="display: flex;">
  <div class="">
  </div>
  <div style="flex: 30;overflow: hidden;padding-right: 1rem;display: flex;flex-direction: column;">
    <div class="container-fluid p-4">
      <div class=""><!--bg-white shadow-lg rounded-lg overflow-hidden--> <!--style-->
        <div class="p-4 bg-gray-100 border-b">
          <div style="text-align: center;" class="text-gray-800 text-xl font-semibold">FIBRAFIL - FIBRAPRINT GROUP</div>
        </div>
        <div class="etiquetas">
          <div class="tile" (click)="openModalventas()">
            <div class="tile-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="31" height="31" stroke-width="2">
                <path d="M4 19a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                <path d="M13.5 17h-7.5v-14h-2"></path>
                <path d="M6 5l14 1l-.858 6.004m-2.642 .996h-10.5"></path>
                <path d="M19 16l-2 3h4l-2 3"></path>
              </svg>
            </div>
            <div class="tile-title">Ventas</div>
          </div>
            <!-- Modal -->
          <div class="modal-backdrop" *ngIf="modalVisibleventas" (click)="closeModalventas()">
            <div class="modal-content" (click)="$event.stopPropagation()">
              <span class="close-btn" (click)="closeModalventas()">&times;</span>
              <h2>Detalle de Ventas</h2>
              <table class="min-w-full table-auto border-separate border-spacing-0">
                <thead>
                  <tr class=" ">
                    <th class="px-4 py-2 text-left border-b border-white">Producto/Servicio</th>
                    <th class="px-4 py-2 text-left border-b border-white">Factura (USD)</th>
                    <th class="px-4 py-2 text-left border-b border-white">Nota de Crédito (USD)</th>
                    <th class="px-4 py-2 text-left border-b border-white">Otros</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="border-t">
                    <td class="px-4 py-2">ETIQUETAS-EXPOR</td>
                    <td class="px-4 py-2">3,353.14</td>
                    <td class="px-4 py-2">0.00</td>
                    <td class="px-4 py-2">0.00</td>
                  </tr>
                  <tr class="border-t">
                    <td class="px-4 py-2">ETIQUETAS-NACIONAL</td>
                    <td class="px-4 py-2">3,719.04</td>
                    <td class="px-4 py-2">0.00</td>
                    <td class="px-4 py-2">0.00</td>
                  </tr>
                  <tr class="border-t">
                    <td class="px-4 py-2">SERVICIOS</td>
                    <td class="px-4 py-2">197.01</td>
                    <td class="px-4 py-2">0.00</td>
                    <td class="px-4 py-2">0.00</td>
                  </tr>
                  <tr class="border-t">
                    <td class="px-4 py-2">GRUPO MP</td>
                    <td class="px-4 py-2">0.00</td>
                    <td class="px-4 py-2">0.00</td>
                    <td class="px-4 py-2">0.00</td>
                  </tr>
                  <tr class="border-t bg-gray-100">
                    <td class="px-4 py-2 font-semibold">Subtotal</td>
                    <td class="px-4 py-2 font-semibold">7,269.19</td>
                    <td class="px-4 py-2 font-semibold">0.00</td>
                    <td class="px-4 py-2 font-semibold">0.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> <!--hasta acá es el cierre del modal ventas-->
          <div class="tile" (click)="openModalproduccion()">
            <div class="tile-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="31" height="31" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor">
                <path d="M3 13a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                <path d="M15 9a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                <path d="M9 5a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                <path d="M4 20h14"></path>
              </svg>
            </div>
            <div class="tile-title">Producción</div>
            <br>
            <div>10 toneladas</div>
          </div>
           <!-- Modal -->
        <div class="modal-backdrop" *ngIf="modalVisibleproduccion" (click)="closeModalproduccion()">
          <div class="modal-content" (click)="$event.stopPropagation()">
            <span class="close-btn" (click)="closeModalproduccion()">&times;</span>
            <h2>Detalle de Producción</h2>
            <table class="min-w-full table-auto border-separate border-spacing-0">
              <thead>
                <tr class=" ">
                  <th class="px-4 py-2 text-left border-b border-white">Producto/Servicio</th>
                  <th class="px-4 py-2 text-left border-b border-white">Factura (USD)</th>
                  <th class="px-4 py-2 text-left border-b border-white">Nota de Crédito (USD)</th>
                  <th class="px-4 py-2 text-left border-b border-white">Otros</th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-t">
                  <td class="px-4 py-2">ETIQUETAS-EXPOR</td>
                  <td class="px-4 py-2">3,353.14</td>
                  <td class="px-4 py-2">0.00</td>
                  <td class="px-4 py-2">0.00</td>
                </tr>
                <tr class="border-t">
                  <td class="px-4 py-2">ETIQUETAS-NACIONAL</td>
                  <td class="px-4 py-2">3,719.04</td>
                  <td class="px-4 py-2">0.00</td>
                  <td class="px-4 py-2">0.00</td>
                </tr>
                <tr class="border-t">
                  <td class="px-4 py-2">SERVICIOS</td>
                  <td class="px-4 py-2">197.01</td>
                  <td class="px-4 py-2">0.00</td>
                  <td class="px-4 py-2">0.00</td>
                </tr>
                <tr class="border-t">
                  <td class="px-4 py-2">GRUPO MP</td>
                  <td class="px-4 py-2">0.00</td>
                  <td class="px-4 py-2">0.00</td>
                  <td class="px-4 py-2">0.00</td>
                </tr>
                <tr class="border-t bg-gray-100">
                  <td class="px-4 py-2 font-semibold">Subtotal</td>
                  <td class="px-4 py-2 font-semibold">7,269.19</td>
                  <td class="px-4 py-2 font-semibold">0.00</td>
                  <td class="px-4 py-2 font-semibold">0.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> <!--hasta acá es el cierre del modal produccion-->
          <div class="tile"(click)="openModalcronograma()">
            <div class="tile-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="31" height="31" stroke-width="2">
                <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path>
                <path d="M16 3v4"></path>
                <path d="M8 3v4"></path>
                <path d="M4 11h16"></path>
                <path d="M7 14h.013"></path>
                <path d="M10.01 14h.005"></path>
                <path d="M13.01 14h.005"></path>
                <path d="M16.015 14h.005"></path>
                <path d="M13.015 17h.005"></path>
                <path d="M7.01 17h.005"></path>
                <path d="M10.01 17h.005"></path>
              </svg>
            </div>
            <div class="tile-title">Cronograma</div>
            <br>
            <div>16</div>
          </div>
                     <!-- Modal -->
        <div class="modal-backdrop" *ngIf="modalVisiblecronograma" (click)="closeModalcronograma()">
          <div class="modal-content" (click)="$event.stopPropagation()">
            <span class="close-btn" (click)="closeModalcronograma()">&times;</span>
            <h2>Detalle de Producción</h2>
            <table class="min-w-full table-auto border-separate border-spacing-0">
              <thead>
                <tr class=" ">
                  <th class="px-4 py-2 text-left border-b border-white">Producto/Servicio</th>
                  <th class="px-4 py-2 text-left border-b border-white">Factura (USD)</th>
                  <th class="px-4 py-2 text-left border-b border-white">Nota de Crédito (USD)</th>
                  <th class="px-4 py-2 text-left border-b border-white">Otros</th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-t">
                  <td class="px-4 py-2">ETIQUETAS-EXPOR</td>
                  <td class="px-4 py-2">3,353.14</td>
                  <td class="px-4 py-2">0.00</td>
                  <td class="px-4 py-2">0.00</td>
                </tr>
                <tr class="border-t">
                  <td class="px-4 py-2">ETIQUETAS-NACIONAL</td>
                  <td class="px-4 py-2">3,719.04</td>
                  <td class="px-4 py-2">0.00</td>
                  <td class="px-4 py-2">0.00</td>
                </tr>
                <tr class="border-t">
                  <td class="px-4 py-2">SERVICIOS</td>
                  <td class="px-4 py-2">197.01</td>
                  <td class="px-4 py-2">0.00</td>
                  <td class="px-4 py-2">0.00</td>
                </tr>
                <tr class="border-t">
                  <td class="px-4 py-2">GRUPO MP</td>
                  <td class="px-4 py-2">0.00</td>
                  <td class="px-4 py-2">0.00</td>
                  <td class="px-4 py-2">0.00</td>
                </tr>
                <tr class="border-t bg-gray-100">
                  <td class="px-4 py-2 font-semibold">Subtotal</td>
                  <td class="px-4 py-2 font-semibold">7,269.19</td>
                  <td class="px-4 py-2 font-semibold">0.00</td>
                  <td class="px-4 py-2 font-semibold">0.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> <!--hasta acá es el cierre del modal cronograma-->
        <div class="tile"(click)="openModalcronograma()">
          <div class="tile-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="31" height="31" stroke-width="2">
              <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
              <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
              <path d="M5 17h-2v-4m-1 -8h11v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5"></path>
              <path d="M3 9l4 0"></path>
            </svg>
          </div>
          <div class="tile-title">Despachos en el día</div>
          <br>
          <div>16</div>
        </div>
        <div class="tile"(click)="openModalcronograma()">
          <div class="tile-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="31" height="31" stroke-width="2">
              <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1"></path>
            </svg>
          </div>
          <div class="tile-title">devoluciones en el mes</div>
          <br>
          <div>16</div>
        </div>
        <div class="tile"(click)="openModalcronograma()">
          <div class="tile-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="31" height="31" stroke-width="2">
              <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
              <path d="M3.6 9h16.8"></path>
              <path d="M3.6 15h16.8"></path>
              <path d="M11.5 3a17 17 0 0 0 0 18"></path>
              <path d="M12.5 3a17 17 0 0 1 0 18"></path>
            </svg>
          </div>
          <div class="tile-title">Exportaciones</div>
          <br>
          <div>16</div>
        </div>
        </div><!--fin de etiquetas-->

    </div>
  </div> <!--fin de style-->

</div>


<!-- crear modales -->
<!-- Modal -->
<!-- <div class="modal-backdrop" *ngIf="modalVisiblecronograma" (click)="closeModalcronograma()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close-btn" (click)="closeModalcronograma()">&times;</span>
  </div>
</div>  -->
<!--hasta acá es el cierre del modal-->