<app-sidebar></app-sidebar>
<br>
<br>
<br>
<div style="display: flex;">
  <div class="espaciado">
  </div>
  <div style="flex: 30;overflow: hidden;padding-right: 1rem;display: flex;flex-direction: column;">
    <div class="container-fluid p-4">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="p-4 bg-gray-100 border-b">
          <div class="text-gray-800 text-xl font-semibold">Tabla de Ventas por Líneas (USD) - Abril 2025</div>
        </div>
    
        <table class="min-w-full table-auto border-separate border-spacing-0">
          <thead>
            <tr class="bg-green-500 text-white">
              <th class="px-4 py-2 text-left border-b border-white">Producto/Servicio</th>
              <th class="px-4 py-2 text-left border-b border-white">Factura (USD)</th>
              <th class="px-4 py-2 text-left border-b border-white">Nota de Crédito (USD)</th>
              <th class="px-4 py-2 text-left border-b border-white">Otros</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-t">
              <td class="px-4 py-2">ETIQUETAS-EXPOR</td>
              <td class="px-4 py-2">3,353.14</td>
              <td class="px-4 py-2">0.00</td>
              <td class="px-4 py-2">0.00</td>
            </tr>
            <tr class="border-t">
              <td class="px-4 py-2">ETIQUETAS-NACIONAL</td>
              <td class="px-4 py-2">3,719.04</td>
              <td class="px-4 py-2">0.00</td>
              <td class="px-4 py-2">0.00</td>
            </tr>
            <tr class="border-t">
              <td class="px-4 py-2">SERVICIOS</td>
              <td class="px-4 py-2">197.01</td>
              <td class="px-4 py-2">0.00</td>
              <td class="px-4 py-2">0.00</td>
            </tr>
            <tr class="border-t">
              <td class="px-4 py-2">GRUPO MP</td>
              <td class="px-4 py-2">0.00</td>
              <td class="px-4 py-2">0.00</td>
              <td class="px-4 py-2">0.00</td>
            </tr>
            <tr class="border-t bg-gray-100">
              <td class="px-4 py-2 font-semibold">Subtotal</td>
              <td class="px-4 py-2 font-semibold">7,269.19</td>
              <td class="px-4 py-2 font-semibold">0.00</td>
              <td class="px-4 py-2 font-semibold">0.00</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="container-fluid p-4">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="p-4 bg-gray-100 border-b">
          <div class="text-gray-800 text-xl font-semibold">Tabla de Ventas por Líneas (USD) - Marzo 2025</div>
        </div>
    
        <table class="min-w-full table-auto border-separate border-spacing-0">
          <thead>
            <tr class="bg-blue-500 text-white">
              <th class="px-4 py-2 text-left border-b border-white">Producto/Servicio</th>
              <th class="px-4 py-2 text-left border-b border-white">Factura (USD)</th>
              <th class="px-4 py-2 text-left border-b border-white">Nota de Crédito (USD)</th>
              <th class="px-4 py-2 text-left border-b border-white">Otros</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-t">
              <td class="px-4 py-2">ETIQUETAS-EXPOR</td>
              <td class="px-4 py-2">541,386.02</td>
              <td class="px-4 py-2">-8,465.19</td>
              <td class="px-4 py-2">0.00</td>
            </tr>
            <tr class="border-t">
              <td class="px-4 py-2">ETIQUETAS-NACIONAL</td>
              <td class="px-4 py-2">841,318.16</td>
              <td class="px-4 py-2">-30,095.89</td>
              <td class="px-4 py-2">0.00</td>
            </tr>
            <tr class="border-t">
              <td class="px-4 py-2">MERMA Y DESMEDRO</td>
              <td class="px-4 py-2">3,125.21</td>
              <td class="px-4 py-2">0.00</td>
              <td class="px-4 py-2">0.00</td>
            </tr>
            <tr class="border-t">
              <td class="px-4 py-2">POLIMEROS CLISSE</td>
              <td class="px-4 py-2">18,304.00</td>
              <td class="px-4 py-2">0.00</td>
              <td class="px-4 py-2">0.00</td>
            </tr>
            <tr class="border-t">
              <td class="px-4 py-2">SERVICIOS</td>
              <td class="px-4 py-2">6,712.41</td>
              <td class="px-4 py-2">-4,514.48</td>
              <td class="px-4 py-2">0.00</td>
            </tr>
            <tr class="border-t">
              <td class="px-4 py-2">GRUPO MP</td>
              <td class="px-4 py-2">32,350.94</td>
              <td class="px-4 py-2">0.00</td>
              <td class="px-4 py-2">0.00</td>
            </tr>
            <tr class="border-t bg-gray-100">
              <td class="px-4 py-2 font-semibold">Subtotal</td>
              <td class="px-4 py-2 font-semibold">1,443,196.74</td>
              <td class="px-4 py-2 font-semibold">-43,075.56</td>
              <td class="px-4 py-2 font-semibold">0.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>



  

  
  