<div class="modal">
    <div class="modal-contentResumen">
        <div style="display: flex;justify-content: space-between;"> 
            <h2>OF - Listado Resumen de Pesos Registrados</h2>
            <button (click)="closeModalResumen()" style="background: none; border: none; cursor: pointer;">
                    <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <hr>
        <table class="modal-tableResumen">
            <thead>
                <tr>
                    <th>Proceso</th>
                    <th>Motivo</th>
                    <th>Peso Bruto</th>
                    <th>Peso Neto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>IMPRESION</td>
                    <td>Devolución a AMP</td>
                    <td>65 kg</td>
                    <td>65 kg</td>
                </tr>
                <tr>
                    <td>IMPRESION</td>
                    <td>Devolución a AMP</td>
                    <td>65 kg</td>
                    <td>65 kg</td>
                </tr>
                <tr>
                    <td>IMPRESION</td>
                    <td>Devolución a AMP</td>
                    <td>65 kg</td>
                    <td>65 kg</td>
                </tr>
                <tr>
                    <td>IMPRESION</td>
                    <td>Devolución a AMP</td>
                    <td>65 kg</td>
                    <td>65 kg</td>
                </tr>
                <tr>
                    <td>IMPRESION</td>
                    <td>Devolución a AMP</td>
                    <td>65 kg</td>
                    <td>65 kg</td>
                </tr>
                <tr>
                    <td>IMPRESION</td>
                    <td>Devolución a AMP</td>
                    <td>65 kg</td>
                    <td>65 kg</td>
                </tr>
                <tr>
                    <td>IMPRESION</td>
                    <td>Devolución a AMP</td>
                    <td>65 kg</td>
                    <td>65 kg</td>
                </tr>

            </tbody>
        </table>
        <table class="modal-table2Resumen"  >
            <thead>
                <tr>
                    <th>Proceso</th>
                    <th>Total Peso Bruto</th>
                    <th>Total Peso Neto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>IMPRESION</td>
                    <td>3251 kg</td>
                    <td>3251 kg</td>
                </tr>
                <tr>
                    <td>IMPRESION</td>
                    <td>3251 kg</td>
                    <td>3251 kg</td>
                </tr>
                <tr>
                    <td>IMPRESION</td>
                    <td>3251 kg</td>
                    <td>3251 kg</td>
                </tr>
                <tr>
                    <td>IMPRESION</td>
                    <td>3251 kg</td>
                    <td>3251 kg</td>
                </tr>
                <tr>
                    <td>IMPRESION</td>
                    <td>3251 kg</td>
                    <td>3251 kg</td>
                </tr>
            </tbody>
        </table>
      
    </div>
    
  </div>
