<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
</head>
<app-sidebar></app-sidebar>
<div style="display: flex;">
    <div class="espaciado">
    </div>
    <div style="flex: 30;overflow: hidden;padding-right: 1rem;display: flex;flex-direction: column;">
        <h3 style="margin-top: 7rem;">Listar Orden de Producción</h3>
        <div class="tabla-contenedor" >
            
            <div style="display: flex; align-items: center; width: 100%; margin: 10px 0px 10px 0px;">
                <!-- Contenedor para el texto 'Listar Orden de Producción' -->
                <div style="flex: 2; display: flex; align-items: center;">
                    <p style="font-size: 18px; margin: 0;">Listar Orden de Producción</p>
                </div>
                
                <!-- Contenedor para el texto 'N° Correlativo' y el botón -->
                <div style="flex: 1.5; display: flex; justify-content: space-between; align-items: center;">
        
                    <div style="flex:9 ">
                        <!-- Contenedor para el texto centrado -->
                        <div style="display: flex; align-items: center;">
                            <p style="font-size: 18px; margin: 0;">N° Correlativo</p>
                        </div>
                    </div>
                    <div style="display: flex;flex:1;justify-content: space-between; ">
                        <!-- Contenedor para el botón centrado -->
                            <button style="background: none; border: none; font: inherit; cursor: pointer;">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <button style="background: none; border: none; font: inherit; cursor: pointer;">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                    </div> 
                </div>
            </div>
            <hr>
        
            <div style="display: flex;flex:1;justify-content: space-between;align-items: center;margin:15px 0 15px 0 ">
                <div style="display: flex;;align-items: center;">
                    <p style="margin: 0;">Mostrar 
                        <select [(ngModel)]="registros" style="border: 1px solid #ccc; border-radius: 5px; width: 50%;">
                            <option value="1">Todos</option>
                            <option value="2">20</option>
                            <option value="3">60</option>
                        </select>
                    Registros</p>
                </div>
                <div style="display: flex;;align-items: center;justify-content: flex-end;">
                    <p style="margin: 0;">Buscar:</p>
                    <input 
                style="border: 1px solid #ccc; border-radius: 5px; margin-left: 5px; width: 50%; height: 30px; padding: 5px; box-sizing: border-box;" 
                type="text" [(ngModel)]="search" 
            />
                </div>
                
            </div>
            
            <div style="display: flex;flex: 1;overflow: auto;">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th (click)="sortTable('fecha')">
                                Fecha 
                                <span>
                                    <i class="fa-solid" [ngClass]="sortOrder['fecha'] ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'"></i>
                                </span>
                            </th>
                            <th (click)="sortTable('numero')">
                                N° Orden 
                                <span>
                                    <i class="fa-solid" [ngClass]="sortOrder['numero'] ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'"></i>
                                </span>
                            </th>
                            <th (click)="sortTable('numeroMadre')">
                                N° Orden Madre 
                                <span>
                                    <i class="fa-solid" [ngClass]="sortOrder['numeroMadre'] ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'"></i>
                                </span>
                            </th>
                            <th (click)="sortTable('cliente')">
                                Cliente 
                                <span>
                                    <i class="fa-solid" [ngClass]="sortOrder['cliente'] ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'"></i>
                                </span>
                            </th>
                            <th (click)="sortTable('fichaTecnica')">
                                Ficha Técnica 
                                <span>
                                    <i class="fa-solid" [ngClass]="sortOrder['fichaTecnica'] ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'"></i>
                                </span>
                            </th>
                            <th (click)="sortTable('presentacion')">
                                Presen 
                                <span>
                                    <i class="fa-solid" [ngClass]="sortOrder['presentacion'] ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'"></i>
                                </span>
                            </th>
                            <th (click)="sortTable('codigo')">
                                Código 
                                <span>
                                    <i class="fa-solid" [ngClass]="sortOrder['codigo'] ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'"></i>
                                </span>
                            </th>
                            <th (click)="sortTable('descripcion')">
                                Descripción 
                                <span>
                                    <i class="fa-solid" [ngClass]="sortOrder['descripcion'] ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'"></i>
                                </span>
                            </th>
                            <th (click)="sortTable('unidad')">
                                Unidad 
                                <span>
                                    <i class="fa-solid" [ngClass]="sortOrder['unidad'] ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'"></i>
                                </span>
                            </th>
                            <th (click)="sortTable('cantidad')">
                                Cantidad 
                                <span>
                                    <i class="fa-solid" [ngClass]="sortOrder['cantidad'] ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'"></i>
                                </span>
                            </th>
                            <th>
                                Despachado 
                            </th>
                            <th (click)="sortTable('pesoTotal')">
                                Peso Total 
                                <span>
                                    <i class="fa-solid" [ngClass]="sortOrder['pesoTotal'] ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'"></i>
                                </span>
                            </th>
                            <th (click)="sortTable('status')">
                                Status 
                                <span>
                                    <i class="fa-solid" [ngClass]="sortOrder['status'] ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'"></i>
                                </span>
                            </th>
                            <th>Opciones</th>
                        </tr>
                        
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let orden of ordenes | filterOrdenes: search || ''; let i = index">
                            <td>{{ orden.fecha }}</td>
                            <td>{{ orden.numero }}</td>
                            <td>{{ orden.numeroMadre }}</td>
                            <td>{{ orden.cliente }}</td>
                            <td>{{ orden.fichaTecnica }}</td>
                            <td>{{ orden.presentacion }}</td>
                            <td>{{ orden.codigo }}</td>
                            <td>{{ orden.descripcion }}</td>
                            <td>{{ orden.unidad }}</td>
                            <td>{{ orden.cantidad }}</td>
                            <td><span class="despachado">{{ orden.despachado }}</span></td>
                            <td>{{ orden.pesoTotal }}</td>
                            <td>
                                <span [ngClass]="{
                                  'estatus': orden.status === 'PENDIENTE',
                                  'liberado': orden.status === 'LIBERADO'
                                }">{{ orden.status }}</span>
                              </td>
                            <td data-label="Opciones" style="display: flex; flex-direction: column; align-items: center; position: relative;">
                                <button class="button-style" (click)="toggleModalOpciones(i)">Opciones</button>
                                <div class="modal-content" *ngIf="selectedOrdenIndex === i">
                                    <div class="option" (click)="openModalAgregar()">Agregar</div>
                                    <div class="option">Detalle</div>
                                    <div class="option" (click)="openModalResumen()">Resumen</div>
                                    <div class="option">Despachar</div>
                                </div>
                            </td>
                          </tr>
                    </tbody>
                </table>
            </div>   
        </div>
    </div>
</div>
<div class="modal" *ngIf="isModalOpenResumen">
    <app-resumen (cerrar)="closeModalResumen()"></app-resumen>
</div>

<div class="modal" *ngIf="isModalOpenAgregar">
    <app-agregar (cerrar)="closeModalAgregar()" ></app-agregar>
</div>
