.espaciado {
  padding-left: 17rem; /* Espaciado inicial */
}
.espaciado-tabla {
  padding:1rem 1rem 0 0; /* Espaciado inicial */
}
.title{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding-left: 1rem;
}