<div class="container mt-5 ml-5 pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="btn-group btn-group-sm border mt-3" role="group" aria-label="Acciones">
          <button mat-stroked-button class="btn btn-light btn-outline-success" (click)="openNuevoTurnoModal()">
            <small>Nuevo</small>
          </button>
          <button mat-stroked-button class="btn btn-outline-danger ml-1">
            <small>Borrar</small>
          </button>
        </div>

        <table class="mt-2 table table-striped table-light table-hover table-bordered" style="width: 100%; table-layout: auto">
          <thead class="thead-light">
            <tr>
              <th>
                <input type="checkbox" aria-label="Seleccionar todos los turnos" />
              </th>
              <th scope="col"><small>Nombre de Turno</small></th>
              <th scope="col"><small>Horario</small></th>
              <th scope="col"><small>Unidad</small></th>
              <th scope="col"><small>Ciclo</small></th>
              <th scope="col"><small>Turno Automático</small></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataHorarios" (click)="updateThorarioSelect(item.thoras)">
              <th class="align-items-center text-center">
                <small>
                  <input type="checkbox" aria-label="Seleccionar turno" />
                </small>
              </th>
              <td style="padding: 0.1rem" class="align-items-center text-center">
                <small >{{ item.alias }}</small>
              </td>
              <td style="padding: 0.1rem" class="align-items-center  ">
                <small>{{ getAreas(item.horario) }}</small>
              </td>
              <td style="padding: 0.1rem">
                <small class="text-center">
                  <ng-container *ngIf="item.cycleUnit == 1; else noUnidad">Semanal</ng-container>
                  <ng-template #noUnidad>Diario</ng-template>
                </small>
              </td>
              <td style="padding: 0.1rem" class="align-items-center text-center">
                <small>{{ item.shiftCycle }}</small>
              </td>
              <td style="padding: 0.1rem" class="align-items-center text-center">
                <small >
                  <ng-container *ngIf="item.autoShift; else noAutoShift" class="d-flex justify-content-center align-items-center" style="height: 100%; ">
                    <i class="fa-solid fa-circle-check text-success" aria-label="Automático"></i>
                  </ng-container>
                  <ng-template #noAutoShift class="d-flex justify-content-center align-items-center" style="height: 100%; ">
                    <i class="fa-solid fa-circle-minus text-danger" aria-label="Manual"></i>
                  </ng-template>
                </small>
              </td>
              <td >
                <small class="d-flex justify-content-center align-items-center" style="height: 100%; ">
                  <button mat-icon-button aria-label="Editar turno" matTooltip="Editar" style="font-size: 16px; width: 28px; height: 28px; min-width: 28px; min-height: 28px; padding: 2px;">
                    <mat-icon style="font-size: 16px;">edit</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Eliminar turno" matTooltip="Eliminar" style="font-size: 16px; width: 28px; height: 28px; min-width: 28px; min-height: 28px; padding: 2px;">
                    <mat-icon style="color: red; font-size: 16px;">delete</mat-icon>
                  </button>
                </small>
              </td>
            </tr>
          </tbody>
        </table>

        <mat-paginator
          [length]="totalRecords"
          [pageSize]="pageSize"
          [pageIndex]="pageNumber - 1"
          (page)="handlePageEvent($event)"
          [pageSizeOptions]="[5, 10, 20, 50]"
          showFirstLastButtons
          aria-label="Seleccione la página"
        >
        </mat-paginator>
      </div>
      <div class="cold-md-3 ml-5 mt-5">
      <app-thorassemanal [datos]="datosSeleccionado"></app-thorassemanal>
      </div>
    </div>
  </div>
</div>
