<div class="border-bottom container pt-5 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Empresa</h1>

  <div class="btn-group btn-group-sm" role="group" aria-label="Acciones">
    <button mat-stroked-button class="btn btn-light">
      <small>Nuevo</small>
    </button>
    <button mat-stroked-button  class=" btn btn-outline-danger ml-2">
      <small>Borrar</small>
    </button>
  </div>

  <div class="mt-1">
    <table class="table table-striped table-light table-hover"
              style="width: 100%; table-layout: auto">
      <thead class="table-light font-size-sm" style="white-space: nowrap">
        <tr>
          <th scope="col"style="padding: 0.1rem">
            <small>RUC</small>
          </th>
          <th scope="col"style="padding: 0.1rem">
            <small>Nombre</small>
          </th>
          <th scope="col"style="padding: 0.1rem">
            <small>País</small>
          </th>
          <th scope="col"style="padding: 0.1rem">
            <small>Ciudad</small>
          </th>
          <th scope="col"style="padding: 0.1rem">
            <small>Fax</small>
          </th>
          <th scope="col"style="padding: 0.1rem">
            <small>Provincia</small>
          </th>
          <th scope="col"style="padding: 0.1rem">
            <small>Correo Electrónico</small>
          </th>
          <th scope="col"style="padding: 0.1rem">
            <small>Teléfono</small>
          </th>
          <th scope="col"style="padding: 0.1rem"><small> Código Postal </small></th>
          <th scope="col"style="padding: 0.1rem"><small>Cantidad de Departamentos</small></th>
          <th scope="col"style="padding: 0.1rem">
            <small>Dirección</small>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-hover" *ngIf="dataCompany.length > 0; else noData">
        <tr *ngFor="let item of dataCompany">
          <td style="padding: 0.1rem">
            <small>
              <strong>
                {{ item.companyCode }}
              </strong>
            </small>
          </td>
          <td style="padding: 0.1rem">
            <small>
              {{ item.companyName }}
            </small>
          </td>
          <td style="padding: 0.1rem">
            <small>
              {{ item.country }}
            </small>
          </td>
          <td style="padding: 0.1rem">
            <small>
              {{ item.city }}
            </small>
          </td>
          <td style="padding: 0.1rem">
            <small>
              {{ item.fax }}
            </small>
          </td>
          <td style="padding: 0.1rem">
            <small>
              {{ item.state }}
            </small>
          </td>
          <td style="padding: 0.1rem">
            <small>
              {{ item.email }}
            </small>
          </td>
          <td style="padding: 0.1rem">
            <small>
              {{ item.phone }}
            </small>
          </td>
          <td style="padding: 0.1rem">
            <small>
              {{ item.postalCode }}
            </small>
          </td>
          <td style="padding: 0.1rem">
            <small>
              {{ item.cantidadDepartamentos }}
            </small>
          </td>
          <td style="padding: 0.1rem">
            <small>
              {{ item.address }}
            </small>
          </td>
          <td class="d-flex" style="padding: 0.1rem">
             <button mat-button aria-label="Example icon button with a menu icon">
                <mat-icon>edit</mat-icon>
              </button>
             <button mat-button aria-label="Example icon button with a menu icon">
                <mat-icon style="color: red;">delete</mat-icon>
              </button>
          </td>
        </tr>
      </tbody>
      <ng-template #noData>
        <tr>
          <td colspan="13">No se encontraron datos.</td>
        </tr>
      </ng-template>
    </table>
  </div>
</div>
