<app-sidebar></app-sidebar>
<br>
<br>
<br>
<div class="col-md-12">
    <div class="col-md-6">
   
        <button type="button" class="btn btn-block btn-primary2 btn-lg botoncito" role="button"
            data-bs-toggle="button" onclick="location.href='insertar_pre_ficha.php'"
            id="btnLeer">NUEVO</button>
    </div>
    <div class="col-md-6"> 
        <button type="button" class="btn btn-block btn-info btn-lg"
            onclick="Generar_Reporte_Excel();">Exportar Excel</button>
    </div>

</div>

<div class='col-md-12'>           
    <table>
    
    </table>    
</div>