<div class=" border-bottom container pt-5 mt-2 mb-5">

  <div class="row mt-4">
            <div class="col-md-9">

              <div class="btn-group btn-group-sm border" role="group" aria-label="Acciones">
                <button type="button" class="btn btn-light">Nuevo</button>
                <button type="button" class="btn btn-danger ml-1">Borrar</button>
                <button type="button" class="btn btn-dark ml-1">Importar</button>
                <button type="button" class="btn btn-dark ml-1">Asignar Empleado a</button>
              </div>


                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="selectAll">
                                        <label class="form-check-label" for="selectAll">Código de área</label>
                                    </div>
                                </th>
                                <th scope="col">Nombre de área</th>
                                <th scope="col">Superior</th>
                                <th scope="col">Cantidad de dispositivos</th>
                                <th scope="col" class="actions">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="area1">
                                        <label class="form-check-label" for="area1">1</label>
                                    </div>
                                </td>
                                <td>No autorizado</td>
                                <td>-</td>
                                <td>0</td>
                                <td class="actions">
                                    <button class="btn btn-success btn-sm mr-1"><i class="fas fa-check"></i></button>
                                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="area2">
                                        <label class="form-check-label" for="area2">2</label>
                                    </div>
                                </td>
                                <td>LURIN</td>
                                <td>-</td>
                                <td>2</td>
                                <td class="actions">
                                    <button class="btn btn-success btn-sm mr-1"><i class="fas fa-check"></i></button>
                                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="area3">
                                        <label class="form-check-label" for="area3">3</label>
                                    </div>
                                </td>
                                <td>CHILCA2</td>
                                <td>-</td>
                                <td>2</td>
                                <td class="actions">
                                    <button class="btn btn-success btn-sm mr-1"><i class="fas fa-check"></i></button>
                                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="area4">
                                        <label class="form-check-label" for="area4">4</label>
                                    </div>
                                </td>
                                <td>CHILCA2</td>
                                <td>-</td>
                                <td>2</td>
                                <td class="actions">
                                    <button class="btn btn-success btn-sm mr-1"><i class="fas fa-check"></i></button>
                                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="area5">
                                        <label class="form-check-label" for="area5">5</label>
                                    </div>
                                </td>
                                <td>F.CHILCA2</td>
                                <td>-</td>
                                <td>0</td>
                                <td class="actions">
                                    <button class="btn btn-success btn-sm mr-1"><i class="fas fa-check"></i></button>
                                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar">
                    <h5>No autorizado</h5>
                    <p class="sidebar-item">LURIN</p>
                    <p class="sidebar-item">CHILCA2</p>
                    <p class="sidebar-item">CHILCA2</p>
                    <p class="sidebar-item">F.CHILCA2</p>
                </div>
            </div>
        </div>
</div>