<div class="container-fluid pt-5 mt-2 mb-5 mr-5">
  <div class="tab-buttons mt-5">
    <button
      type="button"
      class="btn btn-light btn-sm"
      [ngClass]="{ active: activeSection === 'basica' }"
      (click)="scrollToSection('basica'); activeSection = 'basica'"
    >
      Configuración básica
    </button>
    <button
      type="button"
      class="btn btn-light btn-sm"
      [ngClass]="{ active: activeSection === 'semana' }"
      (click)="scrollToSection('semana'); activeSection = 'semana'"
    >
      Configuración F.Semana
    </button>
    <button
      type="button"
      class="btn btn-light btn-sm"
      [ngClass]="{ active: activeSection === 'hextras' }"
      (click)="scrollToSection('hextras'); activeSection = 'hextras'"
    >
      Configuración de Horas Extras(H.E)
    </button>
    <button
      type="button"
      class="btn btn-light btn-sm"
      [ngClass]="{ active: activeSection === 'calculo' }"
      (click)="scrollToSection('calculo'); activeSection = 'calculo'"
    >
      Configuración de cálculo
    </button>
    <button
      type="button"
      class="btn btn-light btn-sm"
      [ngClass]="{ active: activeSection === 'aplicacion' }"
      (click)="scrollToSection('aplicacion'); activeSection = 'aplicacion'"
    >
      Configuración de la Aplicación
    </button>
  </div>

  <section id="basica">
    <div class="mt-5 container d-flex flex-column align-items-center">
      <div class="text-center mb-4">
        <h2>Siguiente Marcación, después de (Minutos)</h2>
        <div class="mt-3">
          <input
            type="number"
            class="form-control text-center"
            id="numeroInput"
            placeholder="Ingrese un número"
            value="1"
            style="max-width: 150px; margin: 0 auto"
          />
        </div>
      </div>
      <button type="button" class="btn btn-success">Guardar</button>
    </div>
  </section>

  <section id="semana">
    <div class="container mt-5">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Fin de Semana</th>
            <th>Día de Trabajo</th>
            <th>H.E Nivel 1 (Horas)</th>
            <th>H.E Nivel 2 (Horas)</th>
            <th>H.E Nivel 3 (Horas)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Lunes</th>
            <td>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="lunesFinSemana"
                />
              </div>
            </td>
            <td>
              <select class="form-select">
                <option selected>Ignorar</option>
                <option value="Trabajo">Trabajo</option>
                <option value="Descanso">Descanso</option>
              </select>
            </td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
          </tr>
          <tr>
            <th>Martes</th>
            <td>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="martesFinSemana"
                />
              </div>
            </td>
            <td>
              <select class="form-select">
                <option selected>Ignorar</option>
                <option value="Trabajo">Trabajo</option>
                <option value="Descanso">Descanso</option>
              </select>
            </td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
          </tr>
          <tr>
            <th>Miércoles</th>
            <td>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="miercolesFinSemana"
                />
              </div>
            </td>
            <td>
              <select class="form-select">
                <option selected>Ignorar</option>
                <option value="Trabajo">Trabajo</option>
                <option value="Descanso">Descanso</option>
              </select>
            </td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
          </tr>
          <tr>
            <th>Jueves</th>
            <td>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="juevesFinSemana"
                />
              </div>
            </td>
            <td>
              <select class="form-select">
                <option selected>Ignorar</option>
                <option value="Trabajo">Trabajo</option>
                <option value="Descanso">Descanso</option>
              </select>
            </td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
          </tr>
          <tr>
            <th>Viernes</th>
            <td>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="viernesFinSemana"
                />
              </div>
            </td>
            <td>
              <select class="form-select">
                <option selected>Ignorar</option>
                <option value="Trabajo">Trabajo</option>
                <option value="Descanso">Descanso</option>
              </select>
            </td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
          </tr>
          <tr>
            <th>Sábado</th>
            <td>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="sabadoFinSemana"
                />
              </div>
            </td>
            <td>
              <select class="form-select">
                <option selected>Ignorar</option>
                <option value="Trabajo">Trabajo</option>
                <option value="Descanso">Descanso</option>
              </select>
            </td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
          </tr>
          <tr>
            <th>Domingo</th>
            <td>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="domingoFinSemana"
                />
              </div>
            </td>
            <td>
              <select class="form-select">
                <option selected>Ignorar</option>
                <option value="Trabajo">Trabajo</option>
                <option value="Descanso">Descanso</option>
              </select>
            </td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
            <td><input type="number" class="form-control" value="0" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section id="hextras">
    <div class="mt-5 container">
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label"
          >Regla de H.E :
        </label>
        <div class="col-sm-5">
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">H.E Deshabilitada</option>
            <option value="2">Calcular H.E</option>
            <option value="3">Aprobar H.E</option>
            <option value="3">Aprobar Prioridad H.E</option>
          </select>
        </div>
        <button class="btn btn-success">
          Guardar
        </button>
      </div>
    </div>
  </section>

  <section id="calculo">
    
    <div class="mt-1 container">
      <div class="container ">
        <h2>Regla de Cálculo</h2>
        <form>
            <div class="row mb-2">
                <label for="tardanzaMayor" class="col-md-3 col-form-label">Tardanza mayor a<span class="asterisk"></span></label>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="tardanzaMayor" value="100">
                </div>
                <div class="col-md-7 col-form-label">minutos, se considerará, ausente</div>
            </div>
            <div class="row mb-2">
                <label for="salidaTempranaMayor" class="col-md-3 col-form-label">Salida Temprana mayor a<span class="asterisk"></span></label>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="salidaTempranaMayor" value="100">
                </div>
                <div class="col-md-7 col-form-label">minutos, se considerará, ausente</div>
            </div>
            <div class="row mb-2 align-items-center">
                <label for="considerarLlegadaTarde" class="col-md-3 col-form-label">Considerar como<span class="asterisk"></span></label>
                <div class="col-md-3">
                    <select class="form-select" id="considerarLlegadaTarde">
                        <option selected>Llegada Tarde</option>
                        <option value="otraOpcion">Otra Opción</option>
                    </select>
                </div>
                <div class="col-md-6 col-form-label">Si olvidó la <strong class="asterisk">Marcación Entrada</strong> más de
                    <input type="number" class="form-control form-control-sm d-inline-block w-auto mx-2" value="60">
                    minutos
                </div>
            </div>
            <div class="row mb-4 align-items-center">
                <label for="considerarSalidaTemprana" class="col-md-3 col-form-label">Considerar como<span class="asterisk"></span></label>
                <div class="col-md-3">
                    <select class="form-select" id="considerarSalidaTemprana">
                        <option selected>Salida Temprana</option>
                        <option value="otraOpcion">Otra Opción</option>
                    </select>
                </div>
                <div class="col-md-6 col-form-label">Si olvidó la <strong class="asterisk">Marcación Salida</strong> más de
                    <input type="number" class="form-control form-control-sm d-inline-block w-auto mx-2" value="60">
                    minutos
                </div>
            </div>

            <h2 class="mt-4">Elemento de Cálculo</h2>
            <div class="row mb-2">
                <label for="marcacionEntrada" class="col-md-3 col-form-label">Marcación Entrada<span class="asterisk"></span></label>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="marcacionEntrada" value="0">
                </div>
                <label for="marcacionSalida" class="col-md-3 offset-md-1 col-form-label">Marcación Salida<span class="asterisk"></span></label>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="marcacionSalida" value="1">
                </div>
            </div>
            <div class="row mb-2">
                <label for="descansoSalida" class="col-md-3 col-form-label">Descanso Salida<span class="asterisk"></span></label>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="descansoSalida" value="2">
                </div>
                <label for="descansoEntrada" class="col-md-3 offset-md-1 col-form-label">Descanso Entrada<span class="asterisk"></span></label>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="descansoEntrada" value="3">
                </div>
            </div>
            <div class="row mb-2">
                <label for="entradaHE" class="col-md-3 col-form-label">Entrada H.E<span class="asterisk"></span></label>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="entradaHE" value="4">
                </div>
                <label for="salidaHE" class="col-md-3 offset-md-1 col-form-label">Salida H.E<span class="asterisk"></span></label>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="salidaHE" value="5">
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-5">Guardar</button>
        </form>
    </div>

    </div>


  </section>

  <section id="aplicacion">
    <div class="container mt-5">
        <form>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="captura" class="form-label">Captura:<span class="asterisk"></span></label>
                    <select class="form-select custom-select ml-3" id="captura">
                        <option selected>No Requerido: </option>
                        <option value="requerido">Requerido</option>
                        <option value="opcion2">Opción 2</option>
                        <option value="opcion3">Opción 3</option>
                    </select>
                </div>
                <div class="col-md-4 offset-md-1">
                    <label for="incidencias" class="form-label">Incidencias :<span class="asterisk"></span></label>
                    <select class="form-select custom-select ml-3" id="incidencias">
                        <option selected>No Requerido</option>
                        <option value="requerido">Requerido</option>
                        <option value="opcion2">Opción 2</option>
                        <option value="opcion3">Opción 3</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="estadoTrabajo" class="form-label">Estado de Trabajo: <span class="asterisk"></span></label>
                    <select class="form-select custom-select ml-3" id="estadoTrabajo">
                        <option selected>No Requerido</option>
                        <option value="requerido">Requerido</option>
                        <option value="opcion2">Opción 2</option>
                        <option value="opcion3">Opción 3</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
  </section>
</div>
