<div class="modal">
    <div class="modal-contentAgregar">
        <div style="display: flex;justify-content: space-between;"> 
            <h2 style="font-weight: normal;">Agregar Pesos</h2>
            <button (click)="closeModalAgregar()" style="background: none; border: none; cursor: pointer;">    
                    <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <hr style="margin-bottom: 15px;">
        <h5 >OF : <div class="buttonOrange" style="display: inline-block;">1000018588</div>  ULTIMO #ORDEN : <div class="buttonOrange"  style="display: inline-block;">1</div></h5>
        <div style="display: flex; gap: 10px;">
            <div style="flex: 1; padding: 10px;">
                <div ><label style="font-weight: bold;">Fecha de producción</label> </div>
                <div style="background-color: #e1e1e1;color: #000;font-weight: bold;border-radius: 5px;border: 1px solid #8f8f8f;text-align: center;margin-bottom: 12px;">
                    02/04/2025
                </div>
                
                <div style="display: flex; flex-direction: column;">
                    <label style="font-weight: bold;">Proceso</label>  
                    <select [(ngModel)]="selectedOption" style="border: 1px solid #ccc; border-radius: 5px; width: 100%; margin-bottom: 12px;">
                        <option value="">Seleccione un Proceso</option>
                        <option value="1">BILAMINADO</option>
                        <option value="2">CORTE BOBINA</option>
                        <option value="3">CORTE FUNDA</option>
                        <option value="4">HABILITADO</option>
                    </select>
                </div>
                <div *ngIf="selectedOption === '1'" style="display: flex; flex-direction: column;">
                    <label style="font-weight: bold;">Tipo de etiqueta</label>
                    <select style=" border: 1px solid #ccc; border-radius: 5px;width: 100%;margin-bottom: 12px;">
                        <option>Sellecione Maquinaria</option>
                        <option>SL2MB</option>
                    </select>
                </div>
                <div *ngIf="selectedOption === '1'" style="display: flex; flex-direction: column;">
                    <label style="font-weight: bold;display: block;">Peso Tuco</label>
                    <input style="border: 1px solid #ccc; border-radius: 5px;width: 100%;margin-bottom: 12px;" type="number" [(ngModel)]="pesoTuco" placeholder="Ingrese Peso Tuco" />
                </div>
                <div *ngIf="selectedOption === '1'" style="display: flex; flex-direction: column;">
                    <label style="font-weight: bold;display: block;">Metros</label>
                    <input style="border: 1px solid #ccc; border-radius: 5px;width: 100%;margin-bottom: 12px;" type="number" [(ngModel)]="metros" placeholder="Ingrese Metros" />
                </div>
            </div>
            <div style="flex: 1; padding: 10px;">
                <div style="display: flex; flex-direction: column;">
                    <label style="font-weight: bold;">Cantidad de etiquetas</label>
                    <select style=" border: 1px solid #ccc; border-radius: 5px;width: 100%;margin-bottom: 12px;">
                        <option>1</option>
                        <option>Opción 1</option>
                        <option>Opción 2</option>
                    </select>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <label style="font-weight: bold;">Tipo de etiqueta</label>
                    <select style=" border: 1px solid #ccc; border-radius: 5px;width: 100%;margin-bottom: 12px;">
                        <option>Etiqueta Grande</option>
                        <option>Opción 1</option>
                        <option>Opción 2</option>
                    </select>
                </div>
                <div >
                    <label style="font-weight: bold;">Motivo</label>
                    <div *ngIf="selectedOption === '1'">
                        <select style=" border: 1px solid #ccc; border-radius: 5px;width: 100%;margin-bottom: 12px;">
                            <option>Seleccione un Motivo</option>
                            <option>Devolución a AMP</option>
                            <option>Devolución a APP</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label style="font-weight: bold;">Operario</label>
                    <div *ngIf="selectedOption === '1'">
                        <select style=" border: 1px solid #ccc; border-radius: 5px;width: 100%;margin-bottom: 12px;">
                            <option>Seleccione un Operario</option>
                            <option>ALCARRAZ ALTAMIRANO, MARCOS</option>
                            <option>PAPA NOA, JUAN JULIAN</option>
                        </select>
                    </div>
                </div>
                <div style="margin-bottom: 12px;" *ngIf="selectedOption === '1'">
                    <label style="font-weight: bold;display: block;">Ancho(mm)</label>
                    <input style="border: 1px solid #ccc; border-radius: 5px;width: 100%;margin-bottom: 12px;" type="number" [(ngModel)]="ancho" placeholder="Ingrese un número" />
                </div>
                
                
            </div>
            <div style="flex: 1;display: flex;flex-direction: column ;gap: 12px;">
                <div>ItemCode:</div>
                <div class="buttonOrange">PTN-ETIQ003676</div>
                <div>Cantidad de Unitaria:</div>
                <div class="buttonOrange">1288.000</div>
                <div>Falta:</div>
                <div class="buttonOrange">0</div>
            </div>
            <div style="flex: 1; display: flex;flex-direction: column ;gap: 12px;">
                <div>Cantidad Unitaria:</div>
                <div class="buttonOrange" > .</div>
                <div>Peso Neto Total:</div>
                <div class="buttonOrange">. </div>
                <div>Peso Bruto Total:</div>
                <div class="buttonOrange"> .</div>
            </div>
        </div>
      
    </div>
  </div>