<!-- Date Range Picker Component using Angular Material native range picker -->
<div class="relative">
  <mat-form-field [appearance]="'outline'" [class]="getInputClasses()">
    <mat-label>{{ placeholder }}</mat-label>
    
    <!-- Date Range Input -->
    <mat-date-range-input 
      [rangePicker]="rangePicker" 
      [min]="minDate"
      [max]="maxDate"
      [dateFilter]="holidayFilter"
      [disabled]="disabled"
    >
      <input 
        matStartDate 
        [placeholder]="startDatePlaceholder"
        (dateChange)="onStartDateChange($event.value)"
        (focus)="onInputFocus()"
        (blur)="onInputBlur()"
      />
      <input 
        matEndDate 
        [placeholder]="endDatePlaceholder"
        (dateChange)="onEndDateChange($event.value)"
        (focus)="onInputFocus()"
        (blur)="onInputBlur()"
      />
    </mat-date-range-input>
    
    <!-- Calendar Toggle Button -->
    <mat-datepicker-toggle 
      matIconSuffix 
      [for]="rangePicker"
      [disabled]="disabled"
    >
      <!-- Custom Icon -->
      <lucide-icon 
        *ngIf="showIcon"
        [name]="iconName" 
        [class]="getIconSize() + ' text-gray-400'"
        matDatepickerToggleIcon
      ></lucide-icon>
    </mat-datepicker-toggle>
    
    <!-- Error state indicator -->
    <mat-error *ngIf="hasError()">
      <lucide-icon 
        name="alert-circle" 
        [class]="getIconSize() + ' text-red-500 mr-1'"
      ></lucide-icon>
      Campo requerido
    </mat-error>
  </mat-form-field>
  
  <!-- Date Range Picker -->
  <mat-date-range-picker 
    #rangePicker
    [dateClass]="dateClass"
    (opened)="pickerOpen.emit()"
    (closed)="pickerClose.emit()"
  >
  </mat-date-range-picker>
</div>

