<header
  class="navbar navbar-expand navbar-dark fixed-top navbar-box-shadow header-blue px-3 px-lg-4"
  data-scroll-header
  data-fixed-element
>
  <button (click)="toggleSidebar()" class="hamburger-btn">&#9776;</button>
  <a class="navbar-brand" routerLink="/">ASISTENCIA FB</a>

  <ul class="navbar-nav me-auto active">
    <li class="nav-item" [ngClass]="{ active: activeItem === 'personal' }">
      <a
        class="nav-link py-0"
        aria-current="page"
        [routerLink]="['./panel/personal/organizacion']"
        (click)="selectItem('personal'); toggleMenu(1,'organizacion')"
        >Personal</a
      >
    </li>
    <li class="nav-item" [ngClass]="{ active: activeItem === 'dispositivo' }">
      <a
        class="nav-link"
        [routerLink]="['./panel/dispositivo']"
        (click)="selectItem('dispositivo');toggleMenu(1,'dispositivo')"
        >Dispositivo</a
      >
    </li>
    <li class="nav-item" [ngClass]="{ active: activeItem === 'asistencia' }">
      <a 
        class="nav-link" 
        (click)="selectItem('asistencia');toggleMenu(1,'regla')"
        [routerLink]="['./panel/asistencia']"
        >Asistencia</a
      >
    </li>
    <li class="nav-item" [ngClass]="{ active: activeItem === 'acceso' }">
      <a class="nav-link" href="#" (click)="selectItem('acceso')">Acceso</a>
    </li>
    <li class="nav-item" [ngClass]="{ active: activeItem === 'temperatura' }">
      <a class="nav-link" href="#" (click)="selectItem('temperatura')"
        >Temperatura</a
      >
    </li>
    <li class="nav-item" [ngClass]="{ active: activeItem === 'sistema' }">
      <a class="nav-link" href="#" (click)="selectItem('sistema')">Sistema</a>
    </li>
  </ul>

  <div class="sidebar-user-wrapper">
    <div class="user-trigger" (click)="toggleUserMenu()">
      <span class="rounded-circle user-initial">m</span>
      <i class="bi bi-caret-down-fill ms-1"></i>
    </div>

    <ul *ngIf="showUserMenu" class="user-dropdown shadow">
      <li class="fw-bold px-3 py-2">manager</li>
      <li>
        <a class="dropdown-item" href="#"
          ><i class="bi bi-clock-history me-2"></i>Actividades recientes</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="#"
          ><i class="bi bi-clipboard-check me-2"></i>Utilizado con frecuencia</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="#"
          ><i class="bi bi-search me-2"></i>Busc.Aplic.</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="#"
          ><i class="bi bi-gear me-2"></i>Opciones</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="#"
          ><i class="bi bi-envelope me-2"></i>Comunicarse con soporte</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="#"
          ><i class="bi bi-info-circle me-2"></i>Acerca de</a
        >
      </li>
      <li>
        <a class="dropdown-item text-danger" href="#"
          ><i class="bi bi-power me-2"></i>Salir</a
        >
      </li>
    </ul>
  </div>
</header>

<aside
  class="hamburguesa sidebar-propio cs-offcanvas cs-offcanvas-expand aside-blue sidebar"
  id="componentsNav"
  [class.collapsed]="isCollapsed"
>
  <div class="cs-offcanvas-cap d-flex d-lg-none">
    <div class="d-flex align-items-center mt-1">
      <h5 class="text-light mb-0 mr-3">Menu</h5>
      <span class="badge badge-warning">Docs</span>
    </div>
    <button
      class="close text-light"
      type="button"
      data-dismiss="offcanvas"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div
    class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light"
  >
    <a class="btn btn-primary btn-block mr-3 px-4" href="index.html">
      <i class="cxi-eye mt-n1 mr-2"></i>Preview
    </a>
    <a
      class="btn btn-success btn-block mt-0 px-4"
      href="../components/typography.html"
    >
      <i class="cxi-layouts mt-n1 mr-2"></i>Components
    </a>
  </div>
  <div
    class="cs-offcanvas-body px-0 pt-4 pb-grid-gutter"
    data-simplebar
    data-simplebar-inverse
  >
    <nav class="nav nav-light">
      <div class="px-3 pb-2">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar..."
          #buscador
          (input)="filtrarSidebar(buscador.value)"
        />
      </div>

      <!-- Menu del Personal -->
      <div *ngIf="activeItem==='personal' ">
        
         <!-- Organización menu -->

        <li class="nav-item" data-level="1" data-menu-name="organizacion">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'organizacion')"
          >
            <i class="fa-solid fa-sitemap mr-2"></i>
            Organización
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'organizacion'),
                'fa-angle-right': !isOpen(1, 'organizacion')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'organizacion')">
            <li>
              <a class="nav-link" [routerLink]="['panel/personal/organizacion']"  >Empresa </a>
            </li>
            <!-- [routerLink]="['/panel/descuentos/nuevo']" -->
            <li>
              <a class="nav-link" [routerLink]="['panel/personal/organizacion/departamento']">Departamentos </a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['panel/personal/organizacion/cargo']">Cargo </a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['panel/personal/organizacion/area']">Area </a>
            </li>
          </ul>
        </li>

        <!-- Empleados menu -->

        <li class="nav-item" data-level="1" data-menu-name="empleado">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'empleado')"
          >
            <i class="fa-solid fa-users-line mr-2"></i>
            Empleado
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'empleado'),
                'fa-chevron-right': !isOpen(1, 'empleado')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'empleado')">
            <li>
              <a class="nav-link" routerLinkActive="active">Empleados </a>
            </li>
           
            <li>
              <a class="nav-link">Cese </a>
            </li>
          </ul>
        </li>

        <!-- Proceso y Aprobación menu -->

        <li class="nav-item" data-level="1" data-menu-name="pamenu">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'pamenu')"
          >
            <i class="fa-solid fa-bars-progress mr-2"></i>
            Proceso y Aprobación
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'pamenu'),
                'fa-chevron-right': !isOpen(1, 'pamenu')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'pamenu')">
            <li>
              <a class="nav-link" routerLinkActive="active">Rol Aprobadores </a>
            </li>
           
            <li>
              <a class="nav-link">Proceso de Permiso </a>
            </li>

            <li>
              <a class="nav-link">Aprobaciones </a>
            </li>

          </ul>
        </li>

        <!-- Configuraciones menu -->


        <li class="nav-item" data-level="1" data-menu-name="configuracion">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'configuracion')"
          >
            <i class="fa-solid fa-gear mr-2"></i>
            configuración
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'configuracion'),
                'fa-chevron-right': !isOpen(1, 'configuracion')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'configuracion')">
            <li>
              <a class="nav-link" routerLinkActive="active">Documento </a>
            </li>

          </ul>
        </li>


      </div>
      
      <!-- Menu del Dispositivo -->
      <div *ngIf="activeItem==='dispositivo'">

        <!-- Items del dispositivo -->

        <li class="nav-item" data-level="1" data-menu-name="dispositivo">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'dispositivo')"
          >
            <i class="fa-solid fa-mobile-retro mr-2"></i>
            Dispositivo
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'dispositivo'),
                'fa-angle-right': !isOpen(1, 'dispositivo')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'dispositivo')">
            <li>
              <a class="nav-link" [routerLink]="['./panel/dispositivo']" >Dispositivos</a>
            </li>
            <!-- [routerLink]="['/panel/descuentos/nuevo']" -->
            <li>
              <a class="nav-link">Comandos de Dispositivo</a>
            </li>
            
          </ul>
        </li>

        <!-- Menu items de mensajes         -->
        <li class="nav-item" data-level="1" data-menu-name="mensaje">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'mensaje')"
          >
            <i class="fa-solid fa-comment mr-2"></i>
            Mensajes
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'mensaje'),
                'fa-angle-right': !isOpen(1, 'mensaje')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'mensaje')">
            <li>
              <a class="nav-link" routerLinkActive="active">Público</a>
            </li>
            <!-- [routerLink]="['/panel/descuentos/nuevo']" -->
            <li>
              <a class="nav-link">Privado</a>
            </li>
            
          </ul>
        </li>

        <!-- Menu items de Datos -->

        <li class="nav-item" data-level="1" data-menu-name="menudato">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'menudato')"
          >
            <i class="fa-solid fa-database mr-2"></i>
            Datos
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'menudado'),
                'fa-angle-right': !isOpen(1, 'menudado')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'menudato')">
            <li>
              <a class="nav-link" routerLinkActive="active">Incidencias</a>
            </li>

            <li>
              <a class="nav-link">Plantilla Biométrica</a>
            </li>

             <li>
              <a class="nav-link">Foto Biométrica</a>
            </li>

             <li>
              <a class="nav-link" [routerLink]="['/panel/dispositivo/marcaciones']">Marcaciones</a>
            </li>
            
          </ul>
        </li>

        <!-- Menu Items de Eventos -->
        
        <li class="nav-item" data-level="1" data-menu-name="eventos">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'eventos')"
          >
           <i class="fa-solid fa-clock-rotate-left mr-2"></i>
            Eventos
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'eventos'),
                'fa-angle-right': !isOpen(1, 'eventos')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'eventos')">
            <li>
              <a class="nav-link" routerLinkActive="active">Evento de Operación</a>
            </li>

            <li>
              <a class="nav-link">Evento de Errores</a>
            </li>

             <li>
              <a class="nav-link">Cargar Registros</a>
            </li>
            
          </ul>
        </li>

        <!-- Menu de Aplicacion Movil -->


        <li class="nav-item" data-level="1" data-menu-name="apmovil">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'apmovil')"
          >
           <i class="fa-solid fa-mobile mr-2"></i>
            Aplicación móvil
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'apmovil'),
                'fa-angle-right': !isOpen(1, 'apmovil')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'apmovil')">
            <li>
              <a class="nav-link" routerLinkActive="active">Límite GPS del empleado</a>
            </li>

            <li>
              <a class="nav-link">Límite Gps de Departamento</a>
            </li>

             <li>
              <a class="nav-link">Cuentas</a>
            </li>

             <li>
              <a class="nav-link">Aviso</a>
            </li>
             <li>
              <a class="nav-link">Notificación</a>
            </li>
             <li>
              <a class="nav-link">Operación de registros</a>
            </li>
            
            
          </ul>
        </li>

        <!-- Menu item de Configuraciones -->

        <li class="nav-item" data-level="1" data-menu-name="devicesetting">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'devicesetting')"
          >
           <i class="fa-solid fa-gear mr-2"></i>
            Configuraciones
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'devicesetting'),
                'fa-angle-right': !isOpen(1, 'devicesetting')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'devicesetting')">
            <li>
              <a class="nav-link" routerLinkActive="active">configuracion</a>
            </li>

            
          </ul>
        </li>

      </div>

      <!-- Menu de Asistencia -->

      <div *ngIf="activeItem==='asistencia'">

        <!-- Menu item regla -->

         <li class="nav-item" data-level="1" data-menu-name="regla">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'regla')"
          >
           <i class="fa-solid fa-registered mr-2"></i>
            Regla
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'regla'),
                'fa-angle-right': !isOpen(1, 'regla')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'regla')">
            <li>
              <a class="nav-link" routerLinkActive="active">Regla General</a>
            </li>
            <li>
              <a class="nav-link">Regla del Departamento</a>
            </li>
            
          </ul>
        </li>

        <!-- Menu item horario y turno -->

        <li class="nav-item" data-level="1" data-menu-name="horarioturno">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'horarioturno')"
          >
          <i class="fa-solid fa-clock mr-2"></i>
            Horario y Turno
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'horarioturno'),
                'fa-angle-right': !isOpen(1, 'horarioturno')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'horarioturno')">
            <li>
              <a class="nav-link" routerLinkActive="active">Descanso</a>
            </li>
            <li>
              <a class="nav-link">Horario</a>
            </li>
             <li>
              <a class="nav-link">Turno</a>
            </li>
            
          </ul>
        </li>

        <!-- Menu item calendario  -->

         <li class="nav-item" data-level="1" data-menu-name="calendario">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'calendario')"
          >
          <i class="fa-solid fa-calendar-days mr-2"></i>
            Calendario
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'calendario'),
                'fa-angle-right': !isOpen(1, 'calendario')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'calendario')">
            <li>
              <a class="nav-link" routerLinkActive="active">Por Departamento</a>
            </li>
            <li>
              <a class="nav-link">Por Empleado</a>
            </li>
             <li>
              <a class="nav-link">Calendario Temporal </a>
            </li>

             <li>
              <a class="nav-link">Ver Calendario </a>
            </li>
            
          </ul>
        </li>

        <!-- Menu item de Aprobaciones -->
           <li class="nav-item" data-level="1" data-menu-name="maprobaciones">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'maprobaciones')"
          >
          <i class="fa-solid fa-check-to-slot mr-2"></i>
            Aprobaciones
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'maprobaciones'),
                'fa-angle-right': !isOpen(1, 'maprobaciones')
              }"
              style="margin-left: auto"
            ></i>
          </a>
          <ul class="submenu" *ngIf="isOpen(1, 'maprobaciones')">
            <li>
              <a class="nav-link" routerLinkActive="active">Marcación Manual</a>
            </li>
            <li>
              <a class="nav-link">Permiso Papeleta</a>
            </li>
             <li>
              <a class="nav-link">Horas Extras </a>
            </li>

             <li>
              <a class="nav-link">Entrenamiento </a>
            </li>

             <li>
              <a class="nav-link">Ajuste de Calendario </a>
            </li>
            
          </ul>
        </li>

        <!-- Menu item de Festivo -->
        <li class="nav-item" data-level="1" data-menu-name="menufestivo">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'menufestivo')"
          >
         <i class="fa-solid fa-file-circle-plus mr-2"></i>
            Festivo
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'menufestivo'),
                'fa-angle-right': !isOpen(1, 'menufestivo')
              }"
              style="margin-left: auto"
            ></i>
          </a>

          <ul class="submenu" *ngIf="isOpen(1, 'menufestivo')">
            <li>
              <a class="nav-link">Festivo </a>
            </li>
          </ul>

        </li>

        <!-- Menu item Reporte de Marcaciones -->
         <li class="nav-item" data-level="1" data-menu-name="menumarcaciones">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'menumarcaciones')"
          >
          <i class="fa-solid fa-file-pdf mr-2"></i>
            Reporte Marcaciones
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'menumarcaciones'),
                'fa-angle-right': !isOpen(1, 'menumarcaciones')
              }"
              style="margin-left: auto"
            ></i>
          </a>

          <ul class="submenu" *ngIf="isOpen(1, 'menumarcaciones')">
            <li>
              <a class="nav-link">Marcación </a>
            </li>

             <li>
              <a class="nav-link">Cartilla de Tiempo </a>
            </li>
             <li>
              <a class="nav-link">Primero & Último </a>
            </li>
             <li>
              <a class="nav-link">Primera Entrada Última Entrada </a>
            </li>

          </ul>

        </li>

        <!-- Menu item Cálculo -->

          <li class="nav-item" data-level="1" data-menu-name="menucalculo">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'menucalculo')"
          >
         <i class="fa-solid fa-calculator mr-2"></i>
            Cálculo
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'menucalculo'),
                'fa-angle-right': !isOpen(1, 'menucalculo')
              }"
              style="margin-left: auto"
            ></i>
          </a>

          <ul class="submenu" *ngIf="isOpen(1, 'menucalculo')">
            <li>
              <a class="nav-link">Cálculo </a>
            </li>
          </ul>
        </li>

        <!-- Menu item reporte de calendario -->
          <li class="nav-item" data-level="1" data-menu-name="repocalendario">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'repocalendario')"
          >
        <i class="fa-solid fa-file-pdf mr-2"></i>
            Reporte Calendario
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'repocalendario'),
                'fa-angle-right': !isOpen(1, 'repocalendario')
              }"
              style="margin-left: auto"
            ></i>
          </a>

          <ul class="submenu" *ngIf="isOpen(1, 'repocalendario')">
            <li>
              <a class="nav-link">Registros del Calendario </a>
            </li>
            <li>
              <a class="nav-link">Asistencia Diaria </a>
            </li>
             <li>
              <a class="nav-link">Asistencia Total </a>
            </li>
             <li>
              <a class="nav-link">Excepciones </a>
            </li>
             <li>
              <a class="nav-link">Tardanza </a>
            </li>
             <li>
              <a class="nav-link">Salidas Temporales </a>
            </li>
             <li>
              <a class="nav-link">Horas Extras </a>
            </li>
             <li>
              <a class="nav-link">Ausencias </a>
            </li>

             <li>
              <a class="nav-link">Marcaciones Múltiples </a>
            </li>

             <li>
              <a class="nav-link">Descanso Múltiple </a>
            </li>
          </ul>
        </li>

        <!-- Menu item Reporte resumen -->
           <li class="nav-item" data-level="1" data-menu-name="reportresumen">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'reportresumen')"
          >
         <i class="fa-solid fa-file-pdf mr-2"></i>
            Reporte Resumen
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'reportresumen'),
                'fa-angle-right': !isOpen(1, 'reportresumen')
              }"
              style="margin-left: auto"
            ></i>
          </a>

          <ul class="submenu" *ngIf="isOpen(1, 'reportresumen')">
            <li>
              <a class="nav-link">Empleado </a>
            </li>
             <li>
              <a class="nav-link">Permisos </a>
            </li>
             <li>
              <a class="nav-link">Departamentos </a>
            </li>
          </ul>
        </li>

        <!-- Menu item Configuracion de asistencia -->
               <li class="nav-item" data-level="1" data-menu-name="settingasistencia">
          <a
            class="nav-link"
            role="button"
            href="javascript:void(0)"
            (click)="toggleMenu(1, 'settingasistencia')"
          >
         <i class="fa-solid fa-gear mr-2"></i>
            Configuraciones
            <i
              class="fas"
              [ngClass]="{
                'fa-chevron-down': isOpen(1, 'settingasistencia'),
                'fa-angle-right': !isOpen(1, 'settingasistencia')
              }"
              style="margin-left: auto"
            ></i>
          </a>

          <ul class="submenu" *ngIf="isOpen(1, 'settingasistencia')">
            <li>
              <a class="nav-link">Tipo de Permiso Papeleta </a>
            </li>
             <li>
              <a class="nav-link">Tipo de Entrenamiento </a>
            </li>
             <li>
              <a class="nav-link">Configuración Reporte </a>
            </li>
          </ul>
        </li>

      </div>

    </nav>
  </div>
</aside>

<!-- en index.html dentro del <head> -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
