:host {
  display: block;
  height: 100%;
  max-height: 100vh;
}

.sidebar {
  @apply w-[250px] bg-fiori-surface text-fiori-text border-r border-fiori-border;
  /* Remueve cualquier clase que tenga position fixed o absolute */
  position: relative;
  z-index: auto;
}
