<!-- Encabezado del diálogo -->
<h2 class="titulo-dialogo">
  Asignar Turno
  <button mat-icon-button (click)="cerrar()">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content>
  <form (ngSubmit)="guardarAsignacion()" #form="ngForm" autocomplete="off">
    <!-- Empleado seleccionado -->
    <div class="mb-4">
      <label class="text-label block mb-1">Empleado</label>
      <div class="bg-fiori-muted rounded px-3 py-2 text-fiori-text font-medium">
        {{ empleadoSeleccionado?.nombres +" "+ empleadoSeleccionado?.apellidoPaterno +" "+ empleadoSeleccionado?.apellidoMaterno }}
      </div>
    </div>

    <!-- Selector de Turno -->
    <div class="mb-4">
      <label class="text-label block mb-1">Turno</label>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Selecciona un turno</mat-label>
        <mat-select required [(ngModel)]="formulario.scheduleId" name="scheduleId">
          <mat-option *ngFor="let turno of turnos" [value]="turno.id">
            {{ turno.descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Fechas -->
    <div class="mb-4 flex gap-2">
      <div class="w-1/2">
        <label class="text-label block mb-1">Fecha inicio</label>
        <mat-form-field appearance="outline" >
          <input
            matInput
            [matDatepicker]="pickerInicio"
            [(ngModel)]="formulario.startDate"
            name="startDate"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="w-1/2">
        <label class="text-label block mb-1">Fecha fin</label>
        <mat-form-field appearance="outline">
          <input
            matInput
            [matDatepicker]="pickerFin"
            [(ngModel)]="formulario.endDate"
            name="endDate"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <!-- Observaciones -->
    <div class="mb-4">
      <label class="text-label block mb-1">Observaciones</label>
      <textarea
        class="w-full border border-fiori-border rounded px-3 py-2"
        rows="2"
        [(ngModel)]="formulario.remarks"
        name="remarks"
      ></textarea>
    </div>

    <!-- Acciones -->
    <div class="flex justify-end gap-2">
      <button type="button" class="btn-fiori-secondary" (click)="cerrar()">Cancelar</button>
      <button type="submit" class="btn-fiori" [disabled]="form.invalid">Guardar</button>
    </div>
  </form>
</mat-dialog-content>
