/* Estilo general para la página */
.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Asegura que ocupe toda la altura */
  padding-left: 250px; /* Ajusta el contenido para que no se solape con el sidebar */
}


.content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-item p {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

.form-item input {
  padding: 10px;
  margin-top: 5px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #1565c0;
}


.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}


