<div class="mt-5 container">
  <div class="btn-group btn-group-sm border mt-3" role="group" aria-label="Acciones">
    <button mat-stroked-button class="btn btn-light btn-outline-danger">
      <small>Borrar</small>
    </button>
    <button mat-stroked-button class="btn btn-light btn-outline-info ml-1" (click)="abrirModalNuevoHorario(0)">
      <small>Nuevo Horario Normal</small>
    </button>
    <button mat-stroked-button class="btn btn-outline-info ml-1" (click)="abrirModalNuevoHorario(1)">
      <small>Nuevo Horario Flexible</small>
    </button>
  </div>

  <table class="table table-striped table-light table-hover table-bordered" style="width: 100%; table-layout: auto">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="text-center">
          <input type="checkbox" aria-label="Checkbox for following text input" >
        </th>
        <th scope="col"><small>Nombre</small></th>
        <th scope="col"><small>Tipo</small></th>
        <th scope="col"><small>Entrada</small></th>
        <th scope="col"><small>Salida</small></th>
        <th scope="col"><small>Tiempo de Trabajo</small></th>
        <th scope="col"><small>Descanso</small></th>
        <th scope="col"><small>Diás laborales</small></th>
        <!-- <th scope="col">Tipo de Trabajo</th> -->
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataHorarios">
        <th scope="row" style="padding: 0.1rem" class="text-center">
          <input type="checkbox" aria-label="Checkbox for following text input">
        </th>
        <td style="padding: 0.1rem" >
          <small>{{item.nombre}}</small>
        </td>
        <td style="padding: 0.1rem">
          <small>
            <div *ngIf="item.tipo!=0;else noEstado">Flexible</div>
            <ng-template #noEstado>Normal</ng-template>
          </small>
        </td>
        <td style="padding: 0.1rem">
          <small>
            {{item.horaEntrada}}
          </small>
        </td>
        <td style="padding: 0.1rem">
          <small>
            {{item.horaSalida}}
          </small>
        </td>
        <td style="padding: 0.1rem">
          <small>{{item.tiempoTrabajo}}</small>
        </td>
        <td style="padding: 0.1rem">
          <small>
            {{item.descanso}} 
          </small>
        </td>
        <td style="padding: 0.1rem">
          <small>
            {{item.diasLaboral}}
          </small>
        </td>
        <!-- <td>
          <small>
            <div *ngIf="item.workType==1;else noEstado">Normal</div>
            <ng-template #noEstado>Extra</ng-template>
          </small>
        </td> -->
        <td style="padding: 0.1rem">
          <button mat-button aria-label="Example icon button with a menu icon" (click)="editarHorario(item.idHorio,item.tipo)" matTooltip="Editar" style="font-size: 16px; width: 28px; height: 28px; min-width: 28px; min-height: 28px; padding: 2px;">
              <mat-icon style="font-size: 16px;">edit</mat-icon>
          </button>
          <button mat-button aria-label="Example icon button with a menu icon" (click)="openConfirmationDialog(item.idHorio)" matTooltip="Eliminar" style="font-size: 16px; width: 28px; height: 28px; min-width: 28px; min-height: 28px; padding: 2px;">
              <mat-icon style="color: red; font-size: 16px;">delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
        [length]="totalRecords"
        [pageSize]="pageSize"
        [pageIndex]="pageNumber - 1" 
        (page)="handlePageEvent($event)"
        [pageSizeOptions]="[5, 10, 20, 50]"
        showFirstLastButtons
        aria-label="Seleccione la página">
      </mat-paginator>
      

</div>